mwa_asvo_api.key
db/GLEAM-X.sqlite
db/database_configuration.py
queue/*
*/*pyc
*pyc
.vscode
data/*
*.img
*.txt
*.ipynb
*.json
GLEAM-X-pipeline-setonix.profile
script_setonix/*
log_setonix/*
old_logs/*
ssh_keys/*
pb_lookup.tar.gz
test_single_task_scripts/*.log
test_single_task_scripts/log_single_line_scripts
gleamx_*_docker.tar
gleamx_docker_build_setonix_log.log
models/
