#! /bin/bash -l

set -x

echo "${GXBASE}"

pipeuser=PIPEUSER
base=BASEDIR
obslist=OBSLIST
stem=STEM
tres=TRES
fres=FRES
resubmit=RESUBMIT

if [[ ${resubmit} == 1 ]]; then
    allow_resubmit="--allow-resubmit"
else
    allow_resubmit=""
fi

# start download
cd "${base}" || exit 1
list=$(awk '{print substr($1,8,10)}' < "${obslist}_manta.tmp")
n=1
for obsnum in $list; do
    track_task.py start --jobid="${SLURM_JOBID}" --taskid=$n --start_time="$(date +%s)"
    ((n+=1))
done

export SSL_VERIFY=0
mwa_client ${allow_resubmit} --csv="${obslist}_manta.tmp" --dir="${base}"

n=1
for obsnum in $list; do
    # The mwa_client will download and untar the data in ${base}/${jobid}/${obsnum}.ms, where jobid is the ASVO jobid.
    # Move the data to ${base}/${obsnum}/${obsnum}.ms to be consistent with the previous download method.
    obs_data_ms=$(find ${base} -name "${obsnum}.ms" -type d) # obs_data_ms will be ${base}/${jobid}/${obsnum}.ms if the download was successful, or empty if not.

    if [[ ! -e "${obs_data_ms}" ]]; then
        echo "The mwa_client failed to download data for obsid ${obsnum}."
        track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
    elif [[ "${stem}" == "ms" ]]; then 
        mv $(dirname ${obs_data_ms}) "${base}/${obsnum}"
    elif [[ "$stem" == 'vis' ]]; then
        echo "Data downloaded successfully; now run cotter or birli if the data is not already pre-processed."
        track_task.py finish --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
        track_task.py obs_status --obs_id="${obsnum}" --status='downloaded'
    elif [[ "$stem" == 'astro' ]]; then 
        echo "astro delivery mode not yet supported by obs_manta. "
        track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
    else
        echo "No operation available for ${stem} mode for obsid ${obsnum}."
        track_task.py fail --jobid="${SLURM_JOBID}" --taskid="${n}" --finish_time="$(date +%s)"
    fi
    ((n+=1))
done
